[submodule "Template-3"]
	path = Template-3
	url = git@github.com:ahmad-kashkoush/Kashkoush-Template.git
[submodule "Template-4"]
	path = Template-4
	url = git@github.com:ahmad-kashkoush/Dashboard.git
